
@using MyApp.Models

@model MyApp.Models.MyModel

@section test {

    <p>Test</p>

}

@section header {

    <p>This is a test</p>

    @* Some type of comment *@

    @variable.whatever(x => { x < 10 })<p>Okay</p>

    @if (test == 1) {
        int i = a;
    }
}

@{
    #region Test Region
    string[] teamMembers = {"Matt", "Joanne", "Robert", "Nancy"};
    <p>The number of names in the teamMembers array: @teamMembers.Length</p>
    <p>The number of names in the teamMembers array: @teamMembers.Length </p>
    @:Raw HTML line test @teamMembers.Length
    <p>Robert is now in position: @Array.IndexOf(teamMembers, "Robert")</p>
    #endregion

    foreach (var name in teamMembers)
    {
        var name2 = "(U) " + name;
        <p>@name.Select(x => x.ToUpper())</p>
    }
    Array.Reverse(teamMembers);
    foreach (var reversedItem in teamMembers)
    {
        <text>
            Reversed
            @reversedItem
        </text>
    }
}

@{
    // This doesn't work right now.  :(  Probably won't ever work.
    Func<dynamic, object> b = @<strong>@item</strong>;
}

<ul>
@foreach (var myItem in Request.ServerVariables)
{
    @:<li>My item is @myItem.Test()
}
</ul>

@for(var i = 10; i < 21; i++)
{
    var x = i;
    <p>Line #: @i</p>
}

@using(var test = new Test())
{
    <p style="display: none;">Some test</p>
}

<p>My email is example@example</p>
<p>The book is ISBN@(isbnNumber)</p>
<span>Escaped @@ symbol</span>

@if (true) {
    var test = true;
}

@if (DateTime.Now.Year == 2010) {

    <text>
        if year is 2010 then print this <br/>
        multi-line text box and
        the date: @DateTime.Now
    </text>

    @* BUG: The style should highlight but it doesn't.  Might not be fixable. *@
    <p @if (true) { <text>style="display: none"</text> }>Test</p>
}

@switch (DateTime.Now.Year)
{
    case 2015:
        <p>It is 2015</p>
        break;
    case 2016:
        <p>It is 2016</p>
        break;
    default: break;
}

@while (true)
{
    var t = true;
}

@while (true)
{
    var t = true;
    <p>LOOP</p>
}

@do
{
    var t = true;
    <p>LOOP</p>
}
while(true)

@try
{
    var t = true;
    if (true)
    {
        var temp = true;
        <p>Try</p>
        @:<p>TRY</p>
    }
} catch {
    var t = true;
    <p>catch</p>
}
catch (Exception e)
{
    var t = false;
    <div>catch e</div>
}
finally
{
    var t = true;
}

@section footer
{
    <p>Footer</p>
}
